<!DOCTYPE html>
<html>
<head>
    <title>Welcome!</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
    <style>
        a {
            color: blue;
        }
    </style>
</head>
<body>
    <a href="/"><h1>Home</h1></a>

    <% if (loggedin) { %>
        <h1>Hi <%= name %></h1>
    <% }; %>

    <% if (loggedin) { %>
        <h3>Dashboard</h3>
        <p>Number of Posts You Made: <%= numPosts %></p>
        <p>Number of Comments You Made: <%= numComments %></p>
    <% }; %>

    <% if (loggedin) { %>
        <h4>Badges</h4>
        <% if (numPosts >= 1) { %>
            <img src="https://img.icons8.com/ultraviolet/64/000000/filled-star--v1.png"/>
        <% } else { %>
            <img src="https://img.icons8.com/ultraviolet/64/000000/filled-star--v2.png"/>
        <% }; %>
        First Post! 
        <br>
        <% if (numComments >= 1) { %>
            <img src="https://img.icons8.com/ultraviolet/64/000000/filled-star--v1.png"/>
        <% } else { %>
            <img src="https://img.icons8.com/ultraviolet/64/000000/filled-star--v2.png"/>
        <% }; %>
        First Comment! 
        <br>
        <% if (numPosts >= 5) { %>
            <img src="https://img.icons8.com/ultraviolet/64/000000/filled-star--v1.png"/>
        <% } else { %>
            <img src="https://img.icons8.com/ultraviolet/64/000000/filled-star--v2.png"/>
        <% }; %>
        Master Poster! 
        <br> 
        <% if (numPosts >= 5) { %>
            <img src="https://img.icons8.com/ultraviolet/64/000000/filled-star--v1.png"/>
        <% } else { %>
            <img src="https://img.icons8.com/ultraviolet/64/000000/filled-star--v2.png"/>
        <% }; %>
        Master Commenter!
        <br><br><br>

        <h3>Favorites</h3>
        <% if (favorites) { %> 
            <ul>
            <% favorites.forEach(function(favorite) { %>
                <li>
                    <%= favorite.content %>
                </li>
            <% }); %>
            </ul>
        <% } else { %>
            <p>No favorites yet!</p>
        <% }; %>
    
        <form action="/logout?_method=DELETE" method="post">
            <button type="submit">Log Out</button>
        </form>
        <br><br>
    <% } else { %>
        <br>
        <a href="/login">Log In</a> &nbsp;&nbsp; <a href="/register">Sign Up</a>
        <br><br><br>
    <% }; %>

    <h4>Search for Posts</h4>
    <form action="/posts" method="post">
        <input placeholder = "Looking for..." type="text" id="terms" name="terms">
        <input type="submit" name="submit" value="Submit">
    </form>
    <br><br><br>

    <% if (loggedin) { %> 
    <a href="../../new_post.html">Create Post</a>
    <br><br><br>
    <% }; %>

    <h4><%= feed %></h4>
    <ul>
        <% posts.forEach(function(post) { %>
            <li>
                <a href="/posts/<%= post.pid %>"><%= post.content %></a>
            </li>
        <% }); %>
    </ul>

</body>
</html>
