<!DOCTYPE html>
<html>
<head>
    <title>Welcome!</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script> -->
</head>
<body>
    <a href="/"><h1>Home</h1></a>
    <h1>Hi <%=name %></h1>
    <p>Number of Posts You Made: <%=numPosts %></p>
    <p>Number of Comments You Made: <%=numComments %></p>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>
    <br><br><br>

    <h4>Search for Posts</h4>
    <form action="/posts" method="post">
        <input placeholder = "Looking for..." type="text" id="terms" name="terms">
        <input type="submit" name="submit" value="Submit">
    </form>
    <br><br><br>

    <a href="../../new_post.html">Create Post</a>
    <br><br><br>

    <h4><%= feed %></h4>
    <ul>
        <% posts.forEach(function(post) { %>
            <li>
                <a href="/posts/<%= post.pid %>"><strong><%= post.author %></strong> <%= post.content %></a>
            </li>
        <% }); %>
    </ul>

</body>
</html>
